.header{
    width: 700px;
    height: 600px;
    margin:auto;
    margin-top: 60px;
    padding-top: 20px;
    background: white;
    box-shadow: white;
}
.header .block{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;  
    justify-content: space-evenly;
}